@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300italic,regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-check:before {
  content: "\e901";
}

._icon-arrow:before {
  content: "\e900";
}

._icon-fb-icon:before {
  content: "\e902";
}

._icon-insta-icon:before {
  content: "\e903";
}

._icon-vk-icon:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4B4B4B;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@media (max-width: 61.99875em) {
  .lock body {
    overflow: hidden;
    touch-action: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 70rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

[class*=__title] {
  font-family: Merriweather;
  line-height: 1.25;
}
@media (min-width: 71.25em) {
  [class*=__title] {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  [class*=__title] {
    font-size: clamp( 1.75rem , 1.262195122rem  +  2.4390243902vw , 3rem );
  }
}
@media (max-width: 20em) {
  [class*=__title] {
    font-size: 1.75rem;
  }
}
@media (max-width: 47.99875em) {
  [class*=__title] {
    text-align: center;
  }
}

._pink-underline {
  padding-bottom: 12px;
  position: relative;
}
._pink-underline::after {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #BE52A6;
}
@media (max-width: 47.99875em) {
  ._pink-underline::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

[class*=__description] {
  display: inline-block;
  line-height: 1.5;
}
@media (max-width: 47.99875em) {
  [class*=__description] {
    display: block;
    text-align: center;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  [class*=__description] {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 47.99875em) {
  [class*=__description] {
    font-size: clamp( 0.875rem , 0.6364382411rem  +  1.0178635045vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 23.4375em) {
  [class*=__description] {
    font-size: 0.875rem;
  }
}

[class*=__btn] {
  font-weight: 500;
  line-height: 1.2;
  padding: 19px 56px;
  color: #BE52A6;
  border: 2px solid #BE52A6;
  border-radius: 10px;
  transition: all 0.2s ease 0s;
}
@media (any-hover: hover) {
  [class*=__btn]:hover {
    background-color: #BE52A6;
    color: #fff;
    border-color: #fff;
  }
}
@media (max-width: 47.99875em) {
  [class*=__btn] {
    border-color: #4f4f4f;
    color: #4F4F4F;
  }
}

[class*=__pagination] {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

[class*=__arrow-prev] {
  font-size: 0.6875rem;
}

[class*=__arrow-prev].swiper-button-disabled {
  opacity: 0.4;
}

[class*=__numeration] {
  padding: 0 10px;
}
[class*=__numeration] .swiper-pagination-current {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.6;
  color: #BE52A6;
}
[class*=__numeration] .swiper-pagination-total {
  line-height: 2.2;
}

[class*=__arrow-next] {
  font-size: 0.6875rem;
  transform: rotateZ(180deg);
}

[class*=__arrow-next].swiper-button-disabled {
  opacity: 0.4;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0;
  background-color: #fff;
  /* .header__container */
  /* .header__inner */
  /* .header__item */
}
.header._header-scroll {
  position: fixed;
  transform: translateY(-100%);
}
.header._header-show {
  transform: translateY(0%);
  transition: transform 0.3s ease 0s;
  border-bottom: 1px solid #dbdbdb;
}
@media (min-width: 47.99875em) {
  .header {
    top: -100%;
    transition: top 1s ease 0.3s;
  }
  .loaded .header {
    top: 0;
  }
}
@media (max-width: 61.99875em) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }
}
@media (max-width: 47.99875em) {
  .header {
    padding: 5px 0;
    top: 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
}
.header__item {
  padding: 0 5px;
  /* .header__item_logo */
  /* .header__item_menu */
  /* .header__item_phone */
}
.header__item_logo {
  flex: 0 0 119px;
  position: relative;
  z-index: 1;
}
.header__item_logo img {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .header__item_logo img {
    max-width: 70px;
  }
}
.header__item_menu {
  flex: 0 0 auto;
}
@media (min-width: 47.99875em) {
  .header__item_menu {
    padding-top: 20px;
  }
}
@media (max-width: 61.99875em) {
  .header__item_menu {
    order: 2;
  }
}
.header__item_phone {
  flex: 0 0 auto;
  line-height: 1.2;
  position: relative;
  z-index: 1;
  transition: color 0.2s ease 0s;
}
@media (min-width: 71.875em) {
  .header__item_phone {
    font-size: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.875em) {
  .header__item_phone {
    font-size: clamp( 1.125rem , 0.9563253012rem  +  0.843373494vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .header__item_phone {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .header__item_phone:hover {
    color: #BE52A6;
  }
}
@media (min-width: 47.99875em) {
  .header__item_phone {
    padding-top: 20px;
  }
}
@media (max-width: 61.99875em) {
  .header__item_phone {
    order: 1;
  }
}

.menu {
  /* .menu__icon */
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
  /* .menu__phone */
  /* .menu__social */
  /* .menu__footer */
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: top 0.2s ease 0s;
    overflow-y: auto;
    background-color: #ECEAEA;
    z-index: 2;
  }
  .menu-open .menu__body {
    top: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
@media (min-width: 61.99875em) {
  .menu__list {
    margin: 0 -5px;
    row-gap: 20px;
    column-gap: 50px;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    padding: 100px 20px 30px;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    padding: 70px 20px 20px;
  }
}
.menu__item {
  position: relative;
  overflow: hidden;
  padding: 5px 5px;
}
.menu__item::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #BE52A6;
  transition: left 0.2s ease 0s;
}
@media (any-hover: hover) {
  .menu__item:hover::after {
    left: 0;
  }
}
@media (max-width: 61.99875em) {
  .menu__item {
    padding: 10px 0;
    position: relative;
  }
  .menu__item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 1.2;
  /* .menu__link_pink */
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.5625rem;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
  }
}
.menu__link_pink {
  color: #BE52A6;
}
.menu__phone {
  display: none;
}
@media (max-width: 29.99875em) {
  .menu__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}
.menu__social {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu__social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
}
.menu__footer {
  display: none;
}
@media (max-width: 61.99875em) {
  .menu__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    background-color: #fff;
  }
  .menu__footer span {
    font-family: Merriweather;
    font-size: 3.75rem;
    letter-spacing: 0.5em;
    color: #C5C2C2;
    text-transform: uppercase;
  }
}
@media (max-width: 61.99875em) and (min-width: 71.875em) {
  .menu__footer span {
    font-size: 3.75rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 71.875em) {
  .menu__footer span {
    font-size: clamp( 1.875rem , 1.1521084337rem  +  3.6144578313vw , 3.75rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu__footer span {
    font-size: 1.875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: #BE52A6;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.hero {
  position: relative;
  /* .hero__container */
  /* .hero__inner */
  /* .hero__content */
  /* .hero__title */
  /* .hero__description */
  /* .hero__button */
  /* .hero__btn */
  /* .hero__social */
  /* .hero__mobile */
  /* .hero__sharm */
  /* .hero__bg */
  /* .hero__image-ibg */
}
@media (min-width: 47.99875em) {
  .hero {
    background: url("../img/hero/hero-bg.jpg") center top/cover no-repeat;
    height: 100vh;
    min-height: 700px;
  }
  .hero::before {
    content: "SHARM";
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: -100%;
    font-family: Merriweather;
    font-size: 200px;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.4);
    transition: right 1s ease 0.3s;
  }
}
@media (min-width: 47.99875em) and (min-width: 93.75em) {
  .hero::before {
    font-size: 12.5rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 23.4375em) and (max-width: 93.75em) {
  .hero::before {
    font-size: clamp( 3.75rem , 0.8333333333rem  +  12.4444444444vw , 12.5rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 23.4375em) {
  .hero::before {
    font-size: 3.75rem;
  }
}
@media (min-width: 47.99875em) {
  .loaded .hero::before {
    right: 0;
  }
}
@media (min-width: 47.99875em) {
  .hero_school {
    background: url("../img/hero/bg-school.jpg") center top/cover no-repeat;
  }
  .hero_school::before {
    content: "school";
  }
}
@media (max-width: 47.99875em) {
  .hero {
    background-color: #F3EAEA;
  }
}
.hero__container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.hero__inner {
  padding: 100px 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 47.99875em) {
  .hero__inner {
    position: relative;
    left: -150%;
    transition: left 1s ease 0.3s;
  }
  .loaded .hero__inner {
    left: 0;
  }
}
@media (max-width: 47.99875em) {
  .hero__inner {
    padding: 34px 0px 0px 0px;
  }
}
.hero__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .hero__content {
    text-align: center;
  }
}
.hero__title {
  font-size: 4.6875rem;
}
.hero__title:not(:last-child) {
  margin: 0px 0px 18px 0px;
}
@media (max-width: 47.99875em) and (min-width: 0.0625em) and (max-width: 47.99875em) {
  .hero__title {
    font-size: clamp( 1.75rem , 1.7483702313rem  +  2.6076299252vw , 3rem );
  }
}
.hero__description {
  line-height: 2.2;
}
@media (min-width: 47.99875em) {
  .hero__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 47.99875em) {
  .hero__description {
    font-size: clamp( 0.875rem , 0.6364382411rem  +  1.0178635045vw , 1.125rem );
  }
}
@media (max-width: 23.4375em) {
  .hero__description {
    font-size: 0.875rem;
  }
}
.hero__description:not(:last-child) {
  margin: 0px 0px 37px 0px;
}
@media (max-width: 47.99875em) {
  .hero__description:not(:last-child) {
    margin: 0px 0px 26px 0px;
  }
}
@media (min-width: 47.99875em) {
  .hero__social {
    padding: 0px 0px 32px 0px;
  }
}
.hero__mobile {
  display: none;
}
@media (max-width: 47.99875em) {
  .hero__mobile {
    display: flex;
  }
}
.hero__sharm {
  flex: 0 0 120px;
  background-color: #fff;
  color: #C5C2C2;
  left: 0;
  top: 0;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 100px;
}
.hero__sharm span {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.5em;
  font-family: Merriweather;
  text-transform: uppercase;
}
.hero__bg {
  flex: 1 1 auto;
}
.hero__image-ibg {
  padding-left: 100%;
}

.social-hero {
  display: flex;
  column-gap: 5px;
  margin: 0 -5px;
  /* .social-hero__item */
  /* .social-hero__link */
}
.social-hero__item {
  padding: 0 5px;
  transition: transform 0.2s ease 0s;
}
@media (any-hover: hover) {
  .social-hero__item:hover {
    transform: scale(1.2);
  }
}
.social-hero__link {
  color: #000;
  font-size: 1.875rem;
  transition: color 0.2s ease 0s;
}
@media (any-hover: hover) {
  .social-hero__link:hover {
    color: #BE52A6;
  }
}

.welcome {
  padding: 110px 0 0;
  /* .welcome__container */
  /* .welcome__inner */
  /* .welcome__item */
  /* .welcome__title */
  /* .welcome__text */
  /* .welcome__content */
  /* .welcome__more */
  /* .welcome__video */
}
.welcome__inner {
  display: flex;
  row-gap: 30px;
}
@media (min-width: 70em) {
  .welcome__inner {
    column-gap: 1.875rem;
  }
}
@media (min-width: 62.06125em) and (max-width: 70em) {
  .welcome__inner {
    column-gap: clamp( 0.625rem , -9.1468863171rem  +  15.7455518816vw , 1.875rem );
  }
}
@media (max-width: 62.06125em) {
  .welcome__inner {
    column-gap: 0.625rem;
  }
}
@media (min-width: 70em) {
  .welcome__inner:not(:last-child) {
    margin-bottom: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .welcome__inner:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.125rem  +  5.625vw , 4.0625rem );
  }
}
@media (max-width: 20em) {
  .welcome__inner:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .welcome__inner {
    margin: 0 -15px;
  }
}
@media (max-width: 61.99875em) {
  .welcome__inner {
    flex-direction: column;
  }
}
.welcome__item {
  flex: 1 1 50%;
}
@media (min-width: 61.99875em) {
  .welcome__item {
    padding: 0 15px;
  }
}
.welcome__title {
  position: relative;
}
.welcome__text span {
  line-height: 1.9;
}
@media (min-width: 47.99875em) {
  .welcome__text span {
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 47.99875em) {
  .welcome__text span {
    display: inline-block;
    margin-right: 5px;
  }
}
@media (min-width: 47.99875em) {
  .welcome__content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 70em) {
  .welcome__content span {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .welcome__content span {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .welcome__content span {
    font-size: 0.875rem;
  }
}
.welcome__more {
  color: #BE52A6;
}
@media (min-width: 70em) {
  .welcome__more {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .welcome__more {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .welcome__more {
    font-size: 0.875rem;
  }
}
@media (max-width: 61.99875em) {
  .welcome__more {
    padding: 10px 0px 0px 0px;
  }
}
.welcome__video {
  position: relative;
  padding-bottom: 53.5714285714%;
  cursor: pointer;
}
.welcome__video._active::before, .welcome__video._active::after {
  opacity: 0;
}
.welcome__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #BE52A6;
  z-index: 2;
  opacity: 0.4;
  transition: opacity 0.3s ease 0s;
}
.welcome__video::after {
  content: url("../img/icons/play.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: opacity 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .welcome__video {
    margin: 0 -15px;
    padding-bottom: 64%;
  }
}
.welcome__video video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services {
  /* .services__container */
  /* .services__top */
  /* .services__title */
  /* .services__description */
  /* .services__inner */
  /* .services__item */
}
@media (min-width: 70em) {
  .services {
    padding-top: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .services {
    padding-top: clamp( 4.25rem , 3.2rem  +  5.25vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-top: 4.25rem;
  }
}
@media (min-width: 70em) {
  .services {
    padding-bottom: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .services {
    padding-bottom: clamp( 1.875rem , -1.875rem  +  18.75vw , 11.25rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 70em) {
  .services__top:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .services__top:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 2rem  +  2.5vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .services__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.services__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.services__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}
@media (max-width: 47.99875em) {
  .services__inner {
    margin: 0 -10px;
    row-gap: 20px;
  }
}
@media (max-width: 29.99875em) {
  .services__inner {
    margin: 0 -5px;
    row-gap: 10px;
  }
}
.services__item {
  flex: 1 1 25%;
  padding: 0 15px;
  min-width: 170px;
}
@media (max-width: 47.99875em) {
  .services__item {
    padding: 0 10px;
    flex: 1 1 50%;
  }
}
@media (max-width: 29.99875em) {
  .services__item {
    padding: 0 5px;
  }
}

.item-services {
  /* .item-services__image-ibg */
}
@media (any-hover: hover) {
  .item-services:hover .item-services__image-ibg img {
    transform: scale(1.1);
  }
  .item-services:hover .item-services__image-ibg::before {
    top: 0;
  }
  .item-services:hover .item-services__image-ibg::after {
    right: -100%;
  }
}
.item-services__image-ibg {
  padding-bottom: 164.2023346304%;
  overflow: hidden;
}
.item-services__image-ibg::before {
  content: "Подробнее";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: -100%;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  transition: top 0.2s ease 0.2s;
}
.item-services__image-ibg::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(236, 234, 234, 0.7);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-align: center;
  color: #000;
  transition: right 0.3s ease 0s;
}
@media (min-width: 70em) {
  .item-services__image-ibg::after {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .item-services__image-ibg::after {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .item-services__image-ibg::after {
    font-size: 0.875rem;
  }
}
.item-services__image-ibg_first::after {
  content: "Визаж";
}
.item-services__image-ibg_second::after {
  content: "Ногтевой сервис";
}
.item-services__image-ibg_third::after {
  content: "Депиляция";
}
.item-services__image-ibg_fourth::after {
  content: "Солярий";
}
.item-services__image-ibg img {
  transition: transform 0.5s ease 0s;
}

.why {
  position: relative;
  padding-bottom: 312px;
  /* .why__container */
  /* .why__inner */
  /* .why__item */
  /* .why__title */
  /* .why__list */
  /* .why__point */
}
@media (min-width: 70em) {
  .why {
    padding-top: 6.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .why {
    padding-top: clamp( 1.875rem , 0.1rem  +  8.875vw , 6.3125rem );
  }
}
@media (max-width: 20em) {
  .why {
    padding-top: 1.875rem;
  }
}
@media (min-width: 70em) {
  .why {
    padding-bottom: 19.5rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 70em) {
  .why {
    padding-bottom: clamp( 7.5rem , -18.6796488836rem  +  54.542355548vw , 19.5rem );
  }
}
@media (max-width: 47.99875em) {
  .why {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 47.99875em) {
  .why::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 59%;
    height: 82%;
    background-color: #F3EAEA;
  }
  .why::after {
    content: "beauty";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 250px;
    line-height: 1.3;
    letter-spacing: 0.2em;
    color: #D6D6D6;
    opacity: 0.4;
    font-family: Merriweather;
  }
}
@media (min-width: 47.99875em) and (min-width: 87.5em) {
  .why::after {
    font-size: 15.625rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 87.5em) {
  .why::after {
    font-size: clamp( 6.25rem , -5.1417478877rem  +  23.7334261574vw , 15.625rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 47.99875em) {
  .why::after {
    font-size: 6.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .why {
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .why {
    padding-bottom: clamp( 3.75rem , 1.9642059913rem  +  8.9289700433vw , 6.25rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .why {
    padding-bottom: 3.75rem;
  }
}
.why__inner {
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 47.99875em) {
  .why__inner {
    margin: 0 -15px;
  }
}
@media (max-width: 47.99875em) {
  .why__inner {
    flex-direction: column;
  }
}
@media (min-width: 47.99875em) {
  .why__item {
    flex: 1 1 50%;
    padding: 0 15px;
  }
}
.why__list {
  list-style: none;
  list-style-type: none;
  counter-reset: item;
  padding: 20px 0;
}
.why__point {
  position: relative;
  display: flex;
  column-gap: 30px;
}
@media (min-width: 70em) {
  .why__point {
    column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .why__point {
    column-gap: clamp( 1.25rem , 1rem  +  1.25vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .why__point {
    column-gap: 1.25rem;
  }
}
@media (min-width: 70em) {
  .why__point:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .why__point:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.75rem  +  2.5vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .why__point:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 70em) {
  .why__point:not(:last-child) {
    padding-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .why__point:not(:last-child) {
    padding-bottom: clamp( 1.25rem , 0.95rem  +  1.5vw , 2rem );
  }
}
@media (max-width: 20em) {
  .why__point:not(:last-child) {
    padding-bottom: 1.25rem;
  }
}
.why__point:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 88%;
  height: 2px;
  background-color: #BFBFBF;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.why__point::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  top: 0;
  left: 0;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.2;
  text-transform: lowercase;
  color: #d6d6d6;
}
.why__point span {
  font-weight: 500;
  line-height: 1.7;
}
@media (min-width: 70em) {
  .why__point span {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .why__point span {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .why__point span {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em) {
  .why__point span {
    font-weight: 400;
  }
}

.masters {
  background-color: #ECEAEA;
  /* .masters__container */
  /* .masters__slider */
  /* .masters__wrapper */
  /* .masters__slide */
}
@media (min-width: 70em) {
  .masters {
    padding-top: 7rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .masters {
    padding-top: clamp( 3.75rem , 2.45rem  +  6.5vw , 7rem );
  }
}
@media (max-width: 20em) {
  .masters {
    padding-top: 3.75rem;
  }
}
@media (min-width: 70em) {
  .masters {
    padding-bottom: 7rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .masters {
    padding-bottom: clamp( 3.75rem , 2.45rem  +  6.5vw , 7rem );
  }
}
@media (max-width: 20em) {
  .masters {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 29.99875em) {
  .masters__slider {
    margin: 0 -15px;
  }
}
.masters-top {
  /* .masters-top__title */
  /* .masters-top__line */
  /* .masters-top__description */
  /* .masters-top__pagination */
  /* .masters-top__arrow-prev */
  /* .masters-top__numeration */
  /* .masters-top__arrow-next */
}
@media (min-width: 70em) {
  .masters-top:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .masters-top:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.125rem  +  3.75vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .masters-top:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 70em) {
  .masters-top__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .masters-top__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.5625rem  +  1.875vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .masters-top__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.masters-top__line {
  display: flex;
}
@media (min-width: 47.99875em) {
  .masters-top__line {
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
  }
}
@media (min-width: 47.99875em) {
  .masters-top__description {
    padding: 0 10px;
  }
}
@media (min-width: 47.99875em) {
  .masters-top__pagination {
    padding: 0 10px;
  }
}
.swiper-slide {
  min-width: 214px;
}

.slide-masters {
  /* .slide-masters__image-ibg */
  /* .slide-masters__overlay */
  /* .slide-masters__box */
  /* .slide-masters__skill */
  /* .slide-masters__description */
  /* .slide-masters__bottom */
  /* .slide-masters__name */
  /* .slide-masters__position */
}
@media (any-hover: hover) {
  .slide-masters:hover .slide-masters__overlay {
    top: 0;
  }
  .slide-masters:hover .slide-masters__bottom span {
    color: #BE52A6;
  }
}
.slide-masters__image-ibg {
  padding-bottom: 134.5609065156%;
}
.slide-masters__image-ibg:not(:last-child) {
  margin: 0px 0px 22px 0px;
}
@media (min-width: 47.99875em) {
  .slide-masters__overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.8);
    padding: 30px;
    transition: top 0.2s ease 0s;
  }
}
@media (max-width: 47.99875em) {
  .slide-masters__overlay {
    display: none;
  }
}
.slide-masters__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-masters__box:not(:last-child) {
  margin: 0px 0px 14px 0px;
}
.slide-masters__box span {
  color: #fff;
}
.slide-masters__skill {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
}
@media (min-width: 70em) {
  .slide-masters__skill {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .slide-masters__skill {
    font-size: clamp( 0.875rem , 0.825rem  +  0.25vw , 1rem );
  }
}
@media (max-width: 20em) {
  .slide-masters__skill {
    font-size: 0.875rem;
  }
}
.slide-masters__skill:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.slide-masters__description {
  line-height: 1.4;
}
@media (min-width: 70em) {
  .slide-masters__description {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .slide-masters__description {
    font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .slide-masters__description {
    font-size: 0.75rem;
  }
}
.slide-masters__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.slide-masters__bottom span {
  transition: color 0.2s ease 0s;
}
.slide-masters__name {
  font-weight: 500;
  line-height: 1.5;
}
@media (min-width: 70em) {
  .slide-masters__name {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .slide-masters__name {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .slide-masters__name {
    font-size: 0.875rem;
  }
}
.slide-masters__position {
  line-height: 1.5;
}
@media (min-width: 70em) {
  .slide-masters__position {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .slide-masters__position {
    font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .slide-masters__position {
    font-size: 0.75rem;
  }
}

.masters-bottom {
  display: none;
}
@media (max-width: 47.99875em) {
  .masters-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.reviews {
  /* .reviews__slider */
  /* .reviews__swiper */
  /* .reviews__slide */
}
@media (min-width: 70em) {
  .reviews {
    padding-top: 7rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .reviews {
    padding-top: clamp( 3.75rem , 2.45rem  +  6.5vw , 7rem );
  }
}
@media (max-width: 20em) {
  .reviews {
    padding-top: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .reviews {
    position: relative;
  }
  .reviews .swiper {
    overflow: visible !important;
  }
}
@media (max-width: 47.99875em) {
  .reviews__slider:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
}
@media (min-width: 47.99875em) {
  .reviews__slide {
    position: relative;
  }
  .reviews__slide::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #F3EAEA;
  }
}

.reviews-top {
  /* .reviews-top__container */
  /* .reviews-top__title */
  /* .reviews-top__line */
  /* .reviews-top__description */
  /* .reviews-top__pagination */
  /* .reviews-top__arrow-prev */
  /* .reviews-top__numeration */
  /* .reviews-top__total */
  /* .reviews-top__arrow-next */
}
.reviews-top:not(:last-child) {
  padding: 0px 0px 60px 0px;
}
.reviews-top__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
@media (min-width: 47.99875em) {
  .reviews-top__line {
    display: flex;
    margin: 0 -5px;
    justify-content: space-between;
  }
}
.reviews-top__description {
  padding: 0 5px;
}
.slide-reviews {
  /* .slide-reviews__container */
  /* .slide-reviews__inner */
  /* .slide-reviews__item */
  /* .slide-reviews__image-ibg */
  /* .slide-reviews__content */
  /* .slide-reviews__person */
  /* .slide-reviews__name */
  /* .slide-reviews__social */
  /* .slide-reviews__text */
  /* .slide-reviews__more */
}
@media (max-width: 47.99875em) {
  .slide-reviews {
    padding: 0px 0px 120px 0px;
  }
}
@media (max-width: 47.99875em) {
  .slide-reviews__container {
    padding: 0;
  }
}
.slide-reviews__inner {
  display: flex;
  align-items: flex-end;
}
@media (min-width: 47.99875em) {
  .slide-reviews__inner {
    column-gap: 66px;
  }
}
.slide-reviews__item {
  flex: 0 1 50%;
  position: relative;
}
.slide-reviews__image-ibg {
  padding-bottom: 55%;
}
@media (max-width: 47.99875em) {
  .slide-reviews__image-ibg {
    padding-bottom: 77.9220779221%;
  }
}
.slide-reviews__content {
  padding: 32px 37px 50px;
}
@media (max-width: 47.99875em) {
  .slide-reviews__content {
    background-color: #F3EAEA;
    margin: 0 0 -10% -10%;
    transform: translate(0, 50px);
    padding: 20px;
    flex: 1 1 50%;
  }
}
.slide-reviews__person {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.slide-reviews__person:not(:last-child) {
  margin: 0px 0px 14px 0px;
}
.slide-reviews__name {
  color: #000;
  font-weight: 500;
  line-height: 2;
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .slide-reviews__name {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .slide-reviews__name {
    font-size: clamp( 0.875rem , 0.6964205991rem  +  0.8928970043vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-reviews__name {
    font-size: 0.875rem;
  }
}
.slide-reviews__social {
  font-size: 1.5rem;
  color: #BE52A6;
  transition: transform 0.2s ease 0s;
}
@media (any-hover: hover) {
  .slide-reviews__social:hover {
    transform: scale(1.2);
  }
}
.slide-reviews__text p {
  line-height: 1.8;
}
@media (min-width: 70em) {
  .slide-reviews__text p {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .slide-reviews__text p {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .slide-reviews__text p {
    font-size: 0.875rem;
  }
}
.slide-reviews__more {
  color: #BE52A6;
  line-height: 2.1;
}
@media (max-width: 47.99875em) {
  .slide-reviews__more {
    padding: 10px 0px 0px 0px;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .slide-reviews__more {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .slide-reviews__more {
    font-size: clamp( 0.875rem , 0.6964205991rem  +  0.8928970043vw , 1.125rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .slide-reviews__more {
    font-size: 0.875rem;
  }
}

.reviews-bottom {
  display: none;
}
@media (max-width: 47.99875em) {
  .reviews-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.insta {
  /* .insta__container */
  /* .insta__top */
  /* .insta__title */
  /* .insta__line */
  /* .insta__description */
  /* .insta__subscribe */
  /* .insta__link */
  /* .insta__icon */
  /* .insta__inner */
  /* .insta__item */
  /* .insta__social */
}
@media (min-width: 70em) {
  .insta {
    padding-top: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .insta {
    padding-top: clamp( 3.9375rem , 2.7625rem  +  5.875vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .insta {
    padding-top: 3.9375rem;
  }
}
@media (min-width: 70em) {
  .insta {
    padding-bottom: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .insta {
    padding-bottom: clamp( 3.9375rem , 0.7625rem  +  15.875vw , 11.875rem );
  }
}
@media (max-width: 20em) {
  .insta {
    padding-bottom: 3.9375rem;
  }
}
@media (min-width: 70em) {
  .insta__top:not(:last-child) {
    margin-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .insta__top:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 1.9rem  +  3vw , 4rem );
  }
}
@media (max-width: 20em) {
  .insta__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.insta__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (min-width: 47.99875em) {
  .insta__line {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
  }
}
.insta__description {
  padding: 0 5px;
}
.insta__subscribe {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
@media (min-width: 70em) {
  .insta__subscribe {
    column-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .insta__subscribe {
    column-gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .insta__subscribe {
    column-gap: 0.625rem;
  }
}
.insta__link {
  font-weight: 500;
  color: #BE52A6;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 70em) {
  .insta__link {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .insta__link {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .insta__link {
    font-size: 0.875rem;
  }
}
.insta__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #BE52A6;
  bottom: 0;
  left: -100%;
  transition: left 0.2s ease 0s;
}
@media (any-hover: hover) {
  .insta__link:hover::after {
    left: 0;
  }
}
.insta__icon {
  font-size: 1.5rem;
  color: #BE52A6;
  transition: transform 0.2s ease 0s;
}
@media (any-hover: hover) {
  .insta__icon:hover {
    transform: scale(1.2);
  }
}
.insta__inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -10px;
}
.insta__inner:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 47.99875em) {
  .insta__inner {
    margin: 0 -5px;
    row-gap: 10px;
  }
}
.insta__item {
  flex: 1 1 25%;
  padding: 0 10px;
  min-width: 150px;
}
@media (max-width: 47.99875em) {
  .insta__item {
    padding: 0 5px;
  }
}
.insta__social {
  display: none;
}
@media (max-width: 47.99875em) {
  .insta__social {
    display: flex;
    justify-content: center;
  }
}

.item-insta {
  /* .item-insta__image-ibg */
}
@media (any-hover: hover) {
  .item-insta:hover .item-insta__image-ibg img {
    transform: scale(1.1);
  }
  .item-insta:hover .item-insta__image-ibg::before {
    top: 0;
  }
}
.item-insta__image-ibg {
  padding-bottom: 100%;
  overflow: hidden;
}
.item-insta__image-ibg::before {
  content: "Перейти";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: -100%;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  transition: top 0.2s ease 0s;
}
.item-insta__image-ibg img {
  transition: transform 0.2s ease 0s;
}

.footer-top {
  /* .footer-top__container */
  /* .footer-top__content */
  /* .footer-top__title */
  /* .footer-top__description */
  /* .footer-top__form */
}
@media (min-width: 71.25em) {
  .footer-top {
    padding-top: 7.25rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 71.25em) {
  .footer-top {
    padding-top: clamp( 3.375rem , 1.4754901961rem  +  8.1045751634vw , 7.25rem );
  }
}
@media (max-width: 23.4375em) {
  .footer-top {
    padding-top: 3.375rem;
  }
}
@media (min-width: 71.25em) {
  .footer-top {
    padding-bottom: 7.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 71.25em) {
  .footer-top {
    padding-bottom: clamp( 2.6875rem , 0.512254902rem  +  9.2810457516vw , 7.125rem );
  }
}
@media (max-width: 23.4375em) {
  .footer-top {
    padding-bottom: 2.6875rem;
  }
}
@media (min-width: 47.99875em) {
  .footer-top {
    background: url("../img/footer/bg.jpg") center right/cover no-repeat;
  }
}
@media (max-width: 47.99875em) {
  .footer-top {
    background-color: #F3EAEA;
  }
}
@media (max-width: 47.99875em) {
  .footer-top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-top__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.footer-top__description:not(:last-child) {
  margin: 0px 0px 45px 0px;
}
.footer-top__form {
  max-width: 440px;
}

.form-footer {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  /* .form-footer__input */
  /* .form-footer__line */
  /* .form-footer__box */
  /* .form-footer__checkbox */
  /* .form-footer__label */
  /* .form-footer__button */
  /* .form-footer__send */
}
.form-footer__input {
  padding: 16px 22px;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
  font-size: 0.875rem;
}
.form-footer__input::placeholder {
  color: #DCDCDC;
  font-size: 0.875rem;
}
.form-footer__line {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
  row-gap: 34px;
}
.form-footer__box {
  flex: 0 1 240px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: relative;
}
.form-footer__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.form-footer__checkbox:checked + .form-footer__label::before {
  background: #fff url("../img/icons/checkbox.svg") center/80% no-repeat;
}
.form-footer__label {
  color: #161616;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  gap: 11px;
  align-items: center;
}
.form-footer__label::before {
  content: "";
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid #292929;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  .form-footer__label::before {
    border-color: #BEBEBE;
  }
}
.form-footer__button {
  padding: 0 15px;
  flex: 0 1 auto;
  display: flex;
}
@media (max-width: 47.99875em) {
  .form-footer__button {
    width: 100%;
    justify-content: center;
  }
}
.form-footer__send {
  padding: 15px 48px;
  border: 1px solid #292929;
  border-radius: 10px;
  background-color: #F3EAEA;
  transition: all 0.2s ease 0s;
}
@media (min-width: 47.99875em) {
  .form-footer__send {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .form-footer__send {
    font-size: clamp( 0.875rem , 0.6964205991rem  +  0.8928970043vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .form-footer__send {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .form-footer__send:hover {
    background-color: #fff;
  }
}
@media (max-width: 47.99875em) {
  .form-footer__send {
    background-color: #fff;
    border-color: #BEBEBE;
  }
}

.footer-bottom {
  /* .footer-bottom__container */
  /* .footer-bottom__inner */
  /* .footer-bottom__item */
  /* .footer-bottom__list */
  /* .footer-bottom__tel */
  /* .footer-bottom__schedule */
  /* .footer-bottom__bottom */
}
.footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 18px;
  margin: 0 -5px;
  flex-wrap: wrap;
  row-gap: 11px;
}
.footer-bottom__item {
  padding: 0 5px;
  /* .footer-bottom__item_logo */
  /* .footer-bottom__item_menu */
  /* .footer-bottom__item_info */
}
.footer-bottom__item_logo {
  flex: 0 0 119px;
}
.footer-bottom__item_logo img {
  width: 100%;
}
@media (max-width: 61.99875em) {
  .footer-bottom__item_logo {
    order: 1;
  }
}
@media (max-width: 61.99875em) {
  .footer-bottom__item_menu {
    order: 0;
    flex: 0 0 100%;
    padding: 0px 0px 20px 0px;
    position: relative;
  }
  .footer-bottom__item_menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #4F4F4F;
    bottom: 0;
    left: 0;
  }
}
.footer-bottom__item_info {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  row-gap: 10px;
  align-items: flex-end;
}
@media (max-width: 61.99875em) {
  .footer-bottom__item_info {
    order: 2;
  }
}
.footer-bottom__tel {
  font-size: 25px;
  line-height: 1.2;
  transition: color 0.2s ease 0s;
}
@media (min-width: 71.25em) {
  .footer-bottom__tel {
    font-size: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .footer-bottom__tel {
    font-size: clamp( 1.125rem , 0.9542682927rem  +  0.8536585366vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .footer-bottom__tel {
    font-size: 1.125rem;
  }
}
@media (any-hover: hover) {
  .footer-bottom__tel:hover {
    color: #BE52A6;
  }
}
.footer-bottom__schedule {
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 71.25em) {
  .footer-bottom__schedule {
    font-size: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .footer-bottom__schedule {
    font-size: clamp( 0.6875rem , 0.6143292683rem  +  0.3658536585vw , 0.875rem );
  }
}
@media (max-width: 20em) {
  .footer-bottom__schedule {
    font-size: 0.6875rem;
  }
}
@media (min-width: 47.99875em) {
  .footer-bottom__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-bottom__bottom span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    padding: 18px 0 33px;
  }
}
@media (max-width: 47.99875em) {
  .footer-bottom__bottom {
    display: none;
  }
}

.footer-list {
  display: flex;
  margin: 0 -5px;
  row-gap: 20px;
  flex-wrap: wrap;
  /* .footer-list__item */
  /* .footer-list__link */
}
@media (min-width: 71.25em) {
  .footer-list {
    column-gap: 3.125rem;
  }
}
@media (min-width: 23.4375em) and (max-width: 71.25em) {
  .footer-list {
    column-gap: clamp( 0.625rem , -0.6004901961rem  +  5.2287581699vw , 3.125rem );
  }
}
@media (max-width: 23.4375em) {
  .footer-list {
    column-gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .footer-list {
    justify-content: center;
  }
}
.footer-list__item {
  padding: 10px 5px;
  position: relative;
  overflow: hidden;
}
.footer-list__item::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #BE52A6;
  transition: left 0.2s ease 0s;
}
@media (any-hover: hover) {
  .footer-list__item:hover::after {
    left: 0;
  }
}
.footer-list__link {
  font-weight: 500;
}
@media (min-width: 71.25em) {
  .footer-list__link {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.25em) {
  .footer-list__link {
    font-size: clamp( 0.8125rem , 0.6905487805rem  +  0.6097560976vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .footer-list__link {
    font-size: 0.8125rem;
  }
}
.footer-list__link_pink {
  color: #BE52A6;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
